html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1 {
  text-align: center;
  color: #BD0034;
  font-family: 'Hiragino Kaku Gothic StdN';
  font-size: 1.6em;
  margin-bottom: 0;
  position: relative;
  top: -20px;
}

.content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.wish {
  height: 175px;
  width: 300px;
  background-color: #eee;
  border-radius: 2px;
  z-index: 9999;
  position: relative;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.wish:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.wish > h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.5em;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.25em;
  }
  img {
    width: 80%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    /* font: 10.5em 'Montserrat'; */
    font: 8em 'Hiragino Kaku Gothic StdN';
    width: 1400px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
